@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: "Press Start 2P", cursive;
}

/* logo */
.logo-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.logo-image {
  width: 100px;
  height: 100px;
}

/* home */
body {
  margin: 0;
  padding: 0;
}

.Home {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 105%;
}

.main-info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  z-index: 1;
  color: #1589ff;
  text-align: center;
}

.main-text {
  border-bottom: 5px solid #1589ff;
  margin-bottom: 20px;
}

h1 {
  font-size: 6vh;
  letter-spacing: 3px;
  padding: 0 10px;
}

.main-info span {
  width: max-content;
}

h1,
h2,
h3,
span,
#nav-button {
  color: #1589ff;
  background: none;
}

.buttons {
  font-size: 1.8vh;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.buttons #nav-button {
  z-index: 3;
  margin: 0px 25px;
  padding: 8px 16px;
  text-decoration: none;
}

canvas {
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
}

/* 8 bit borders */
.lvl1 {
  box-shadow: 16px 0 black, -16px 0 black, 0 -16px black, 0 16px black, 4px 0 0 8px black, -4px 0 0 8px black, 0 -4px 0 8px black, 0 4px 0 8px black, 20px 0 #1589ff, -20px 0 #1589ff, 0 -20px #1589ff, 0 20px #1589ff, 0 0 0 12px #1589ff, 0 8px 0 8px #1589ff, 0 -8px 0 8px #1589ff, 8px 0 0 8px #1589ff, -8px 0 0 8px #1589ff;
  margin: 20px auto;
}

.lvl2 {
  box-shadow: 4px 0 black, -4px 0 black, 0 -4px black, 0 4px black, 8px 0 #1589ff, -8px 0 #1589ff, 0 -8px #1589ff, 0 8px #1589ff, 0 0 0 4px #1589ff;
  margin: 8px auto;
}

.lvl3 {
  box-shadow: 4px 0 black, -4px 0 black, 0 -4px black, 0 4px black, 8px 0 black, -8px 0 black, 0 -8px black, 0 8px black, 0 0 0 4px black, 12px 0 #1589ff, -12px 0 #1589ff, 0 12px #1589ff, 0 -12px #1589ff, 0 -4px 0 4px #1589ff, 0 4px 0 4px #1589ff, 4px 0 0 4px #1589ff, -4px 0 0 4px #1589ff;
  margin: 12px auto;
}

.lvl4 {
  box-shadow: 4px 0 black, -4px 0 black, 0 -4px black, 0 4px black, 8px 0 black, -8px 0 black, 0 -8px black, 0 8px black, 0 0 0 4px black, 12px 0 black, -12px 0 black, 0 12px black, 0 -12px black, 0 -4px 0 4px black, 0 4px 0 4px black, 4px 0 0 4px black, -4px 0 0 4px black, 16px 0 #1589ff, -16px 0 #1589ff, 0 -16px #1589ff, 0 16px #1589ff, 8px 0 0 4px #1589ff, -8px 0 0 4px #1589ff, 0 8px 0 4px #1589ff, 0 -8px 0 4px #1589ff, 0 0 0 8px #1589ff;
  margin: 16px auto;
}

.other {
  box-shadow: 4px 0 #1589ff, -4px 0 #1589ff, 0 -4px #1589ff, 0 4px #1589ff;
  margin: 4px auto;
}
/* Contact Page */

.contact-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100%;
  color: white;
  overflow: hidden;
}

.contact-container h1 {
  margin-bottom: 1rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-submit {
  width: 100%;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid lightgray;
  background-color: black;
  color: white;
  margin-bottom: 10px;
}

.contact-form textarea {
  height: 150px;
}

.contact-input-name::placeholder {
  color: red;
}

.contact-input-email::placeholder {
  color: blue;
}

.contact-input-message::placeholder {
  color: green;
}


/* Resume */

.resume {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  z-index: 1;
  overflow: hidden;
}

.doc-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  width: 50%;
  background: #1589ff;
  padding: 10px;
  padding: -5px;
  z-index: 2;
  height: auto; 
  overflow: hidden;
}

.doc-wrapper iframe {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  border: none;
}

.resume h1 {
  color: #1589ff;
  position: relative;
  padding: 2px;
  z-index: 5;
}

.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: black;
  z-index: 1;
}

.container > div {
  flex-basis: 2vw; 
  height: 2vw; 
  background-color: black;
  transition: background-color 0.3s;
  margin: 0.2vw;
}

.container > div:hover {
  background-color: #222;
}

#clickMe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  cursor: pointer;
  animation: clickMeAnimation 5s infinite;
  transition: opacity 1s ease-in-out;
  z-index: 99999999;
  background: #1589ff;
  padding: 5px;
  border-radius: 5px;
}

#clickMe:hover {
  /* animation-play-state: paused; */
  top: 70%;
  left: 30%;
}

@keyframes clickMeAnimation {
  0% {
      top: 50%;
      left: 50%;
  }

  25% {
      top: 20%;
      left: 80%;
  }

  50% {
      top: 80%;
      left: 80%;
  }

  75% {
      top: 80%;
      left: 20%;
  }

  100% {
      top: 20%;
      left: 20%;
  }
}

.fadeOut {
  opacity: 0;
}

/* Responsive Styles */

@media screen and (max-width: 768px) {
  .main {
    height: auto;
    padding: 20px;
    justify-content: flex-start;
  }

  .main-info {
    position: static;
    transform: none;
    margin-bottom: 20px;
    align-items: center;
  }

  .main-text {
    margin-bottom: 10px;
  }

  h1 {
    font-size: 4vh;
  }

  .buttons {
    width: 100%;
    flex-direction: column;
  }

  .buttons #nav-button {
    margin: 10px 0;
  }
}

/* chrome dino */

/* Copyright 2013 The Chromium Authors. All rights reserved.
 * Use of this source code is governed by a BSD-style license that can be
 * found in the LICENSE file. */
 .dino-container {
  position: fixed;
  bottom: -50%;
  left: 0;
  width: 100%;
  background-color: black;
  height: calc(100% - 100px);
  overflow: hidden;
}

.dino {
  width: 95%;
  height: 60%;
  margin-top: -95px;
}

.clickMe {
  position: absolute;
  bottom: 5%;
  font-size: small;
  left: calc(5% - 30px);
  color: #1589ff;
  z-index: 5;
  opacity: 1; 
  transition: opacity 1s ease; 
  opacity: 1; 
}

.right-arrow {
  position: absolute;
  bottom: 10%;
  left: 15%;
  width: 30px;
  height: 0;
  border: 2px solid #1589ff;
  border-radius: 2px;
  animation: jumpInfinite 1.5s infinite;
  z-index: 5;
}

.leaderboard {
  position: absolute;
  bottom: 10%;
  right: 15%;
  z-index: 5;
  font-size: small;
}

.dino-container:hover .clickMe {
  opacity: 0;
}

.right-arrow:after {
  content: " ";
  position: absolute;
  top: -10px;
  left: 12px;
  width: 16px;
  height: 16px;
  border-top: 4px solid #1589ff;
  border-right: 4px solid #1589ff;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

@keyframes jumpInfinite {
  0% {
    transform: translateX(0); 
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0);
  }
}

/* portfolio  */

.portfolio-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  color: white;
  overflow: hidden;
}
